:root {
	--nav-color: #333951; /* #3498db */
	--side-nav-width: 60px;
	--moving-nav-width: 180px;
	--background-color: #fff;
	--light-background-color: #f7f8fd;
	--moving-nav-color: #eaeaea;
	--top-nav-height: 50px;
	--text-color: #444;
	--light-text-color: #c3c3c3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/*font-family: 'Segoe UI', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

#side-nav {
	background-color: var(--nav-color);
	width: var(--side-nav-width);
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}	

#side-nav .hamburguer {
	display: block;
	margin-top: 30px;
	text-align: center;
}

#side-nav .hamburguer a img {
	width: 24px;
}

#side-nav ul {
	margin-top: 125px;
	text-align: center;
}

#side-nav ul a{
	/*margin: 50px 0;*/
	padding: 10px;
	display: block;
	text-decoration: none;
	margin: 25px 0;
}

#side-nav ul a.active {
	border-left: 3px solid #fff;
	padding-left: 7px;
}

#side-nav ul a:hover {
	opacity: 0.8;
}

#side-nav ul a img {
	width: 22px;
}

#side-nav .logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}	

#side-nav div form .logout img {
    width: 25px;
}

#moving-nav {
	background-color: var(--moving-nav-color);
	width: 0;
	margin-left: var(--side-nav-width);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: width 0.25s ease-out;
	overflow-x: hidden;
}

#moving-nav.open {
	width: var(--moving-nav-width) !important;
}

#moving-nav .content {
	padding: 20px;
}

#extra-nav {
	background-color: #fff;
	z-index: 10;
	position: absolute;
	padding: 20px;
	height: 100vh;
	width: 250px;
	left: -250px;
	transition: left 0.2s ease-out;
}

#extra-nav.open {
	left: 0;
}

#extra-nav .nav-close {
	position: absolute;
	right: 20px;
	top: 25px;
}

#extra-nav ul {
	margin-top: 20px;
}

#extra-nav ul li a {
	padding: 15px 10px;
	display: block;
	transition: background-color 0.2s ease-out;
	border-radius: 3px;
}

#extra-nav ul li a:hover {
	background-color: var(--moving-nav-color);
}

#extra-nav .nav-close h2 {
	margin-top: 30px;
}

#extra-nav .nav-close img {
	width: 20px;
}


/*#top-nav {
	width: 100%;
	position: fixed;
	height: var(--top-nav-height);
	background-color:  #fff;
}

#top-nav ul li {
	display: inline-block;
	padding: 15px 0;
}

#top-nav .top-logout {
	color: var(--nav-color);
	line-height: var(--top-nav-height);
	display: inline-block;
	padding: 15px 0;
}*/

.main-wrapper {
	margin-left: var(--side-nav-width);
	background-color: var(--background-color);
	padding: 30px 40px;
	transition: margin-left 0.25s ease-out;
}

.main-wrapper.open {
	margin-left: calc(var(--side-nav-width) + var(--moving-nav-width));
}

.main-wrapper p {
	color: var(--light-text-color);
}


.feat-proj .feat-proj-selector {
	margin: 20px 0;
}

.feat-proj .feat-proj-selector li {
	display: inline-block;
}

.feat-proj .feat-proj-selector li a {
	padding: 8px 18px;
	margin: 0 5px;
	color: var(--nav-color);
	border-radius: 50px;
}

.feat-proj .feat-proj-selector li a.active {
	background-color: var(--nav-color);
	color: #fff;
}

#cover {
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s ease-out;
}

#cover.open {
	opacity: 1;
	visibility: visible;
}


#popup {
	width: 400px;
	/*height: 250px;*/
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	z-index: 99;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-out;
}

#popup h2 {
	margin-bottom: 15px;
}

#popup p:nth-child(2) {
	margin-bottom: 40px;
}

#popup p:nth-child(3) {
	margin-bottom: 10px;
}

#popup a {
	color: var(--nav-color);
	padding: 10px 20px;
	border-radius: 3px;
	border: 2px solid var(--nav-color);
	transition: all 0.25s ease-out;
}

#popup a:hover {
	color: #fff;
	background-color: var(--nav-color);
}

#popup.open {
	visibility: visible;
	opacity: 1;
}