:root {
	--nav-color: #333951; /* #3498db */
	--side-nav-width: 60px;
	--moving-nav-width: 180px;
	--background-color: #fff;
	--moving-nav-color: #eaeaea;
	--top-nav-height: 50px;
	--text-color: #444;
	--light-text-color: #c3c3c3;
	--light-gray: #c3c3c3;

	--yellow: #faaa1f;
	--light-yellow: #ffe7b9;
	--red: #ff4c61;
	--light-red: #ff7788;
	--lighter-red: #fed1d5;
	--purple: #6a6ce6;
	--light-purple: #d3d9f3;
	--light-blue: #dbe1f9;
	--light-blue-gray: #f7f8fd;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/*font-family: 'Segoe UI', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

#side-nav {
	background-color: var(--nav-color);
	width: var(--side-nav-width);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}	

#side-nav .hamburguer {
	display: block;
	margin-top: 30px;
	text-align: center;
}

#side-nav .hamburguer a img {
	width: 24px;
}

#side-nav ul {
	margin-top: 125px;
	text-align: center;
}

#side-nav ul a {
	/*margin: 50px 0;*/
	padding: 8px 10px;
	display: block;
	text-decoration: none;
	margin: 30px 0;
	transition: opacity 0.25s ease-in-out;
}

#side-nav ul a.active {
	border-left: 4px solid #fff;
	padding-left: 6px;
}

#side-nav ul a:hover {
	opacity: 0.6;
}

#side-nav ul a img {
	width: 22px;
}

#side-nav .logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}	

#side-nav div form .logout img {
    width: 25px;
}

#moving-nav {
	background-color: var(--moving-nav-color);
	background-color: var(--light-blue-gray);
	width: 0;
	margin-left: var(--side-nav-width);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: width 0.25s ease-out;
	overflow-x: hidden;
}

#moving-nav.open {
	width: var(--moving-nav-width) !important;
}

#moving-nav .content {
	padding: 20px;
}

#extra-nav {
	background-color: #fff;
	z-index: 10;
	position: fixed;
	padding: 20px;
	height: 100vh;
	width: 250px;
	left: -250px;
	transition: left 0.2s ease-out;
}

#extra-nav.open {
	left: 0;
}

#extra-nav .nav-close {
	position: absolute;
	right: 20px;
	top: 25px;
}

#extra-nav ul {
	margin-top: 20px;
}

#extra-nav ul li a {
	padding: 15px 10px;
	display: block;
	transition: background-color 0.2s ease-out;
	border-radius: 3px;
}

#extra-nav ul li a:hover {
	background-color: var(--moving-nav-color);
}

#extra-nav .nav-close h2 {
	margin-top: 30px;
}

#extra-nav .nav-close img {
	width: 20px;
}


/*#top-nav {
	width: 100%;
	position: fixed;
	height: var(--top-nav-height);
	background-color:  #fff;
}

#top-nav ul li {
	display: inline-block;
	padding: 15px 0;
}

#top-nav .top-logout {
	color: var(--nav-color);
	line-height: var(--top-nav-height);
	display: inline-block;
	padding: 15px 0;
}*/

.main-wrapper {
	margin-left: var(--side-nav-width);
	background-color: var(--background-color);
	padding: 30px 40px;
	transition: margin-left 0.25s ease-out;
}

.main-wrapper.open {
	margin-left: calc(var(--side-nav-width) + var(--moving-nav-width));
}

.main-wrapper p {
	color: var(--light-text-color);
}


.feat-proj .feat-proj-selector {
	margin: 30px 0;
}

.feat-proj .feat-proj-selector li {
	display: inline-block;
}

.feat-proj .feat-proj-selector li a {
	padding: 8px 18px;
	margin: 0 5px;
	color: var(--nav-color);
	font-weight: 600;
	border-radius: 50px;
	transition: all 0.2s ease-in-out;
}

.feat-proj .feat-proj-selector li a:hover {
	background-color: var(--nav-color);
	color: #fff;
}

.feat-proj .feat-proj-selector li a.active {
	background-color: var(--nav-color);
	color: #fff;
}

.feat-proj .proj {
	padding: 20px;
	background-color: #fff;
	border-radius: 12px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	max-width: 280px;
	/*width: 31%;*/
	/*margin: 0 10px 20px;*/
	display: inline-block;
	/*margin-right: 30px;*/
	/*margin-bottom: 30px;*/
	/*border-left: 12px solid var(--nav-color);*/
}

.feat-proj .proj.red {
	color: #fff;
	background-color: var(--red);
}

.feat-proj .proj.red .header .avatar {
	color: var(--nav-color);
	background-color: #fff;
}

.feat-proj .proj.red .progress-bar {
	background-color: var(--light-red);
}

.feat-proj .proj.red .progress-bar:before {
	background-color: #fff; 
}

.feat-proj .proj.red .progress .percent {
	color: #fff;
	font-weight: 500;
}

.feat-proj .proj .header {
	display: flex;
	align-items: center;
}

.feat-proj .proj .header .avatar {
	width: 35px;
	height: 35px;
	color: #fff;
	border-radius: 50px;
	background-color: var(--nav-color);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 25px;
	font-weight: 600;
}

.feat-proj .proj .header .proj-title {
	display: inline-block;
}

.feat-proj .proj .progress {
	margin: 30px 0 0;
	text-align: right;
}

.feat-proj .proj .progress .percent {
	color: var(--nav-color);
	font-weight: 600;
	display: block;
	margin-bottom: 3px;
}

.feat-proj .proj .progress-bar {
	width: calc(100% - 2*20);
	height: 10px;
	background: #eee;
	border-radius: 1.5em;
	margin: 0 auto 0;
	position: relative;
}

.feat-proj .proj .progress-bar:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 20%;
	background-color: var(--nav-color);
	height: 10px;
	border-radius: 1.5em;
}

.feat-proj .proj .progress-bar.yellow:before {
	background-color: var(--yellow);
}

.feat-proj .proj .progress-bar.red:before {
	background-color: var(--red);
}

.feat-proj .proj .progress-bar.purple:before {
	background-color: var(--purple);
}

.files, .statistics, .feat-proj {
	margin-bottom: 20px;
}

.files, .statistics {
	max-width: 700px;
}

.files .header, .statistics .header {
	display: flex;
	justify-content: space-between;
}

.files .header a, .statistics .header a {
	color: var(--light-gray);
	font-weight: 600;
	transition: color 0.2s ease-in-out;
}

.files .header a:hover, .statistics .header a:hover {
	color: var(--nav-color);
}

.files .file-row {
	background-color: #fff;
	border-radius: 8px;
	padding: 12px 20px;
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	margin: 10px 0;
	transition: box-shadow 0.25s ease-in-out;
}

.files .file-row:hover {
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.files .file-row .icon {
	width: 35px;
	height: 35px;
	border-radius: 4px;
	background-color: var(--light-purple);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.files .file-row .icon .folder {
	background-color: var(--purple);
	width: 65%;
	height: 65%;
	display: block;
	clip-path: polygon(15% 80%, 85% 80%, 85% 30%, 48% 30%, 38% 20%, 15% 20%);
}

.files .file-row.purple .icon {
	background-color: var(--light-purple);
}

.files .file-row.purple .icon .folder {
	background-color: var(--purple);
}

.files .file-row.red .icon {
	background-color: var(--lighter-red);
}

.files .file-row.red .icon .folder {
	background-color: var(--red);
}

.files .file-row.yellow .icon {
	background-color: var(--light-yellow);
}

.files .file-row.yellow .icon .folder {
	background-color: var(--yellow);
}

.files .file-row p {
	display: inline-block;
}

.files .file-row p.title {
	font-weight: bold;
	color: var(--nav-color);
}

.files .file-row p.size {
	font-weight: 600;
	color: var(--nav-color);
}

.files .file-row p:nth-child(2) {
	flex: 5 1 0;
	margin-left: 20px;
}

.files .file-row p:nth-child(3) {
	flex: 3 1 0;
}

.files .file-row p:nth-child(4) {
	flex: 2 1 0;
}

.files .file-row p:nth-child(5) {
	flex: 1 1 1;
}

.statistics .boxes{
	display: flex;
	justify-content: space-between;
}

.statistics .stats-box {
	padding: 20px;
	color: #fff;
	display: inline-block;
	border-radius: 12px;
	margin: 10px 0;
	width: 45%;
}

.statistics .stats-box .stats-content {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.statistics .stats-box .stats-content h3 {
	letter-spacing: 1px;
	font-size: 24px;
	font-weight: 600;
}

.statistics .stats-box .stats-content p {
	color: #fff;
	font-weight: 600;
}

.statistics .stats-box.yellow {
	background-color: var(--yellow);
}

.statistics .stats-box.purple {
	background-color: var(--purple);
}

.statistics .stats-box .stats-content .stats-circle {
	position: relative;
}

.statistics .stats-box .stats-content .stats-circle svg {
	width: 110px;
	height: 110px;
}

.statistics .stats-box .stats-content .stats-circle svg circle {
	width: 110px;
	height: 110px;
	fill: none;
	stroke: #000;
	stroke-width: 8px;
	transform: translate(5px, 5px);
	stroke-dasharray: 314;
	stroke-dashoffset: 314;
	stroke-linecap: round;
}

.statistics .stats-box .stats-content .stats-circle svg circle:nth-child(1) {
	stroke-dashoffset: 0;
	stroke: #ffc24e;
}

.statistics .stats-box.purple .stats-content .stats-circle svg circle:nth-child(1) {
	stroke: #8ea3fd;
}

.statistics .stats-box .stats-content .stats-circle svg circle:nth-child(2) {
	stroke-dashoffset: calc(314 - (314  * 57) / 100);
	stroke: #fff;
}

.statistics .stats-box .stats-content .stats-circle p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
}

#cover {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.25s ease-out;
}

#cover.open {
	opacity: 1;
	visibility: visible;
}


#popup {
	width: 400px;
	/*height: 250px;*/
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
	z-index: 99;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.25s ease-out;
}

#popup h2 {
	margin-bottom: 15px;
}

#popup p:nth-child(2) {
	margin-bottom: 40px;
}

#popup p:nth-child(3) {
	margin-bottom: 10px;
}

#popup a {
	color: var(--nav-color);
	padding: 10px 20px;
	border-radius: 3px;
	border: 2px solid var(--nav-color);
	transition: all 0.25s ease-out;
}

#popup a:hover {
	color: #fff;
	background-color: var(--nav-color);
}

#popup.open {
	visibility: visible;
	opacity: 1;
}


/*----- DAY --------*/

.day-slider {
	/*display: flex;*/
	margin: 20px 0;
}

.day-slider .day-selector {
	display: inline-block;
	background-color: #fff;
	padding: 15px 12px;
	border-radius: 1.5em;
	text-align: center;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	transition: background-color 0.2s ease-in-out;
	margin: 0 5px;
}

.day-slider .day-selector.active {
	background-color: var(--yellow);
}

.day-slider .day-selector.active > .week-day, .day-slider .day-selector.active > .day {
	color: #fff;
}

.day-slider .day-selector:hover {
	background-color: var(--yellow);
}

.day-slider .day-selector:hover > .week-day, .day-slider .day-selector:hover > .day {
	color: #fff;
}

.day-slider .day-selector .day {
	color: var(--nav-color);
	font-weight: 600;
	transition: color 0.2s ease-in-out;
}

.day-slider .day-selector .week-day {
	color: var(--nav-color);
	transition: color 0.2s ease-in-out;
}