:root {
	--nav-color: #3498db;
	--side-nav-width: 65px;
	--moving-nav-width: 180px;
	--background-color: #fff;
	--moving-nav-color: #eaeaea;
	--top-nav-height: 50px;
	--text-color: #444;
	--light-text-color: #c3c3c3;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	/*font-family: 'Segoe UI', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: var(--text-color);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #222;
}

#side-nav {
	background-color: var(--nav-color);
	width: var(--side-nav-width);
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
}	

#side-nav .hamburguer {
	display: block;
	margin-top: 30px;
	text-align: center;
}

#side-nav .hamburguer a img {
	width: 26px;
}

#side-nav ul {
	margin-top: 150px;
	text-align: center;
}

#side-nav ul li{
	margin: 50px 0;
}

#side-nav ul li a img {
	width: 25px;
}

#side-nav .logout {
    position: absolute;
    bottom: 20px;
    left: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}	

#side-nav div form .logout img {
    width: 30px;
}

#moving-nav {
	background-color: var(--moving-nav-color);
	width: 0;
	margin-left: var(--side-nav-width);
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: width 0.25s ease-out;
}

#moving-nav.open {
	width: var(--moving-nav-width) !important;
}

/*#top-nav {
	width: 100%;
	position: fixed;
	height: var(--top-nav-height);
	background-color:  #fff;
}

#top-nav ul li {
	display: inline-block;
	padding: 15px 0;
}

#top-nav .top-logout {
	color: var(--nav-color);
	line-height: var(--top-nav-height);
	display: inline-block;
	padding: 15px 0;
}*/

.main-wrapper {
	margin-left: var(--side-nav-width);
	background-color: var(--background-color);
	padding: 20px;
	transition: margin-left 0.25s ease-out;
}

.main-wrapper.open {
	margin-left: calc(var(--side-nav-width) + var(--moving-nav-width));
}

.main-wrapper p {
	color: var(--light-text-color);
}